In [1]:
import pandas as pd
import polars as pl

In [2]:
adult_census = pd.read_csv('../datasets/adult-census-numeric.csv')

In [3]:
adult_census.head(3)

   age  capital-gain  capital-loss  hours-per-week   class
0   41             0             0              92   <=50K
1   48             0             0              40   <=50K
2   60             0             0              25   <=50K

In [4]:
target_name = "class"
target = adult_census[target_name]
target

0         <=50K
1         <=50K
2         <=50K
3         <=50K
4         <=50K
          ...
39068     <=50K
39069     <=50K
39070      >50K
39071     <=50K
39072      >50K
Name: class, Length: 39073, dtype: object

In [5]:
data = adult_census.drop(columns=[target_name])
data.head(3)

   age  capital-gain  capital-loss  hours-per-week
0   41             0             0              92
1   48             0             0              40
2   60             0             0              25

In [6]:
data.shape

(39073, 4)

In [7]:
from sklearn.neighbors import KNeighborsClassifier

In [8]:
model = KNeighborsClassifier()
_ = model.fit(data, target)

In [9]:
target_predicted = model.predict(data)

In [10]:
target_predicted[:5]

array([' >50K', ' <=50K', ' <=50K', ' <=50K', ' <=50K'], dtype=object)

In [11]:
target[:5]

0     <=50K
1     <=50K
2     <=50K
3     <=50K
4     <=50K
Name: class, dtype: object

In [12]:
print(
    "Number of correct predictions: "
    f"{(target[:5] == target_predicted[:5]).sum()} / 5"
)

Number of correct predictions: 4 / 5

In [13]:
(target == target_predicted).mean()

0.8242776341719346

### Train / Test split

In [14]:
adult_census_test = pd.read_csv('../datasets/adult-census-numeric-test.csv')
target_test = adult_census_test[target_name]
data_test = adult_census_test.drop(columns=[target_name])
data_test.shape

(9769, 4)

In [16]:
accuracy = model.score(data_test, target_test)
model_name = model.__class__.__name__
print(f"The test accuracy using a {model_name} is {accuracy:.3f}")

The test accuracy using a KNeighborsClassifier is 0.804