In [1]:
import pandas as pd
import polars as pl

In [2]:
adult_census = pd.read_csv('../datasets/adult-census.csv')
adult_census = adult_census.drop(columns="education-num")
adult_census.head(3)

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K

In [3]:
data, target = adult_census.drop(columns="class"), adult_census["class"]

In [4]:
data.head(3)

,age,workclass,education,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,25,Private,11th,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States
1,38,Private,HS-grad,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States
2,28,Local-gov,Assoc-acdm,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States

### Identify numerical data

In [5]:
data.dtypes

age                int64
workclass         object
education         object
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
dtype: object

In [6]:
data.dtypes.unique()

array([dtype('int64'), dtype('O')], dtype=object)

In [7]:
numerical_columns = ['age', 'capital-gain', 'capital-loss', 'hours-per-week']
data[numerical_columns].head()

   age  capital-gain  capital-loss  hours-per-week
0   25             0             0              40
1   38             0             0              50
2   28             0             0              40
3   44          7688             0              40
4   18             0             0              30

In [8]:
data_numeric = data[numerical_columns]

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
data_train, data_test, target_train,target_test = train_test_split(
    data_numeric, target, random_state=42, test_size=0.25
)

In [11]:
print(
    f'Number of samples in training set: {data_train.shape[0]} => '
    f'{data_train.shape[0] / data_numeric.shape[0] * 100:.1f}% of the'
    ' original set'
)

Number of samples in training set: 36631 => 75.0% of the original set

In [14]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [15]:
model.fit(data_train, target_train)

LogisticRegression()

In [17]:
accuracy = model.score(data_test, target_test)
print(f'Accuracy of logistic regression: {accuracy:.3f}')

Accuracy of logistic regression: 0.807

### Compare LogisticRegression model to simple baseline classifierstt